:root {
    --grid-length: 0;
    --grid-height: 0;
}

html {
    background: linear-gradient(62deg, rgb(37, 16, 16), rgb(38, 43, 73));
}

#titleContainer {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 7rem;
    margin-bottom: 1rem;
}

#titleContainer h1 {
    font-size: 45px;
    color: antiquewhite;
    text-shadow: 3px 5px black;
    margin-bottom: 15px;
    margin-top: 10px;

}

#titleContainer button {
    background-color: rgb(21, 21, 37);
    border-radius: 3px;
    border: 1px solid rgb(80, 27, 27);
    box-shadow: 2px 2px black;
    width: 150px;
    height: 100px;
    cursor: pointer;
    color: white;
    text-shadow: 3px 2px black;
    font-size: 15px;
    transition: 0.5s;
}

#titleContainer button:hover {
    background-color: rgb(9, 9, 90);
    border: 1px solid rgb(134, 13, 13);
    transform: scale(1.1);
}

#gameSection {
    display: flex;
    justify-content: center;
    padding: 20px 50px 20px 50px;
    width: 60%;
    background-color: rgba(53, 9, 9, 0.781);
    border: 2px solid rgba(7, 2, 14, 0.678);
    margin: 0 auto;
}

#divsContainer{
    display: grid;
    width: 450px;
    height: 450px;
    grid-template-columns: repeat(var(--grid-height), 1fr);
    grid-template-rows: repeat(var(--grid-length), 1fr);
    border: 3px solid black;
}


